body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-container {
    border: 2px solid black;
    width: 700px;
    height: 500px;
    margin: 20px auto;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.control-buttons {
    text-align: center;
    margin-top: 25px;
}

.triangle-button {
    cursor: pointer;
    font-size: 50px;
    margin: 0 5px;
    padding: 5px 10px;
    width: 30px;
    height: 30px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    text-align: left;
}

.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.close-button-bottom {
    display: block; /* ボタンをブロック要素にする */
    margin: 20px auto; /* 上下の余白を与え、中央に配置 */
    /* 他のスタイルも必要に応じて追加 */
}

.input-time {
    width: 100px;
}

.alarm-settings {
    display: flex;
    justify-content: flex-start; /* 要素を左揃えにする */
    align-items: center;
    gap: 10px; /* 各要素の間に10pxのスペースを作る */
}

.image-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.image-item-buttons {
    display: flex;
}

.image-item-buttons button {
    margin-left: 5px;
}

.modal-content h2 {
    text-align: center; /* タイトルを中央揃えにする */
    margin: 20px 0; /* 上下のマージンを追加 */
}

.file-upload-container {
    display: flex; /* Flexboxを使用 */
    align-items: center; /* 縦方向の中央揃え */
    justify-content: flex-start; /* 左寄せ */
    margin-bottom: 20px; /* 下の余白 */
}

.file-upload-container button {
    width: 120px;
    margin-left: 10px; /* ボタンとラベルの間にスペース */
    padding: 1px 3px; /* 内側の余白を調整 */
    font-size: 13px; /* 文字サイズを調整 */
    border-radius: 3px; /* 角を丸める */
    border: 1px solid #000; /* 枠線のスタイルを指定 */
    background-color: #f0f0f0; /* 背景色を指定 */
    cursor: pointer; /* マウスカーソルをポインターにする */
}

/* スペースを減らす */
.file-upload-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0px; /* 下の余白を減らす */
}

#imageListContainer {
    max-height: 200px; /* 表示領域の最大高さを指定 */
    overflow-y: auto; /* 垂直方向にスクロールを可能にする */
    border: 1px solid #ccc; /* 必要なら枠線を追加 */
    padding: 10px; /* 内側の余白を追加 */
}

/* 余白をリセットして間隔を減らす */
.file-upload-container {
    margin-bottom: 10px; /* 余白を10pxに縮小 */
}

/* 画像リストの余白を減らす */
#imageListContainer {
    max-height: 220px;
    overflow-y: auto;
    margin-top: 5px; /* 登録画像リストの上の余白を減らす */
}

#imageList {
    overflow: hidden;  /* 子要素はスクロールさせない */
    display: block;    /* 子要素が縦に並ぶようにする */
}

/* <h3>要素の余白を調整 */
h3 {
    margin: 10px 0; /* タイトルの上下の余白を減らす */
}
