body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

.image-container {
    border: 2px solid black;
    width: 600px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    background-color: white;
    overflow: hidden;
}

.image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.control-buttons {
    text-align: center;
    margin-top: 10px;
}

.triangle-button {
    cursor: pointer;
    font-size: 60px;
    margin: 0 5px;
    padding: 5px 10px;
    width: 45px;
    height: 45px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 350px;
    text-align: left;
}

.close-button {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.input-time {
    width: 100px;
}

.alarm-settings {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.image-item-buttons {
    display: flex;
}

.image-item-buttons button {
    margin-left: 5px;
}

.modal-content h2 {
    text-align: center; /* タイトルを中央揃えにする */
    margin: 20px 0; /* 上下のマージンを追加 */
}
